* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif
}

body {
  background-color: rgb(244, 244, 244);
  width: 700px;
  border: 1px solid;
  margin: auto;
}

.mainHeader {
  font-size: 80px;
  font-weight: lighter;
  color: rgb(227, 210, 213);
  text-align: center;
}

.mainInput {
  margin-left: 25px;
  padding-left: 45px;
  height: 65px;
  width: 650px;
  font-size: 50px;
}

.mainInput::placeholder {
  font-weight: lighter;
  color: rgb(242, 242, 242);
}
